.story{
    grid-column: col-start 2 / col-end 7;

    &__text{
        padding: 4rem;
        text-align: center;

        p{
            font-size: 1.6rem;
            line-height: 1.7;
            font-family: $font_family_4;
        }

        a{
            color: $base_color_dark;
        }
    }
    &__text:not(:first-child){
        padding-top: 0;
    }
}