.footer{
    background-color: $base_color_dark;
    grid-column: full-start / full-end;
    
    display: grid;
    grid-template-columns: [full-start]  1fr  [full-end center-start] repeat(8, [col-start]  minmax(min-content, 14rem) [col-end]) [center-end]  1fr [full-end] ;

    &__box{
         grid-column: center-start/ center-end;
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        align-items: center;
        margin: 4rem 2rem;

        @include respond(phone-450) {
            grid-template-columns: minmax( min-content, 1fr);
            justify-items: center;
        }

        p{
            color:$base_color_light;
            font-size: 1.6rem;

            @include respond(phone-450) {
                order: 0;
                margin-bottom: 2rem;
             }
        }

        
    }

    &__logos{
        justify-self: end;

        @include respond(phone-450) {
            justify-self: center;
        }
    }

    .logos__list{
        display: flex;
        list-style: none;
    }

    .logos__item:not(:last-child){
        margin-right: 2.5rem;

        @include respond(phone-450) {
            margin-right: 3.5rem;
        }
    }
    .logos__link{
        text-decoration: none;
        color:white;
        background-size: cover;
        display: block;
        opacity: 1;
        text-indent: -999rem;
        height: 4rem;
        width: 4rem;
        
    }

    .link--twitter{ 
        background-image: url(../images/icons/icon-twitter.jpg);
        &:hover{
            background-image: url(../images/icons/icon-twitter-hover.jpg);
        }
    }
    .link--facebook{ 
        background-image: url(../images/icons/icon-facebook.jpg);
        &:hover{
            background-image: url(../images/icons/icon-facebook-hover.jpg);
        }
    }
    .link--google{ 
        background-image: url(../images/icons/icon-googleplus.jpg);
        &:hover{
            background-image: url(../images/icons/icon-googleplus-hover.jpg);
        }
    }
    .link--pinterest{ 
        background-image: url(../images/icons/icon-pinterest.jpg);
        &:hover{
            background-image: url(../images/icons/icon-pinterest-hover.jpg);
        }
    }
}