.people{
    background-color: $base_color_light;

    grid-column: full-start / full-end;
    
    display: grid;
    grid-template-columns: [full-start]  1fr  [full-end center-start] repeat(8, [col-start]  minmax(min-content, 14rem) [col-end]) [center-end]  1fr [full-end] ;

    &__box{
        grid-column: center-start/ center-end;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        justify-content: center;

        // grid-column-gap: 2rem;

        margin-top: 3rem;
        margin-bottom: 6rem;
    }
}