.header{

    grid-column: full-start / full-end;
    // background-color: lightsalmon;

    display: grid;
    grid-template-columns: [full-start]  1fr  [full-end center-start] repeat(8, [col-start]  minmax(min-content, 12rem) [col-end]) [center-end]  1fr [full-end] ;

    &__box{
        grid-column: center-start/ center-end;
        background-color: $base_color_light;

        display: grid;
        grid-template-columns: repeat(8, 1fr);

    }

    &__logo{
        grid-column: 3/ 7;
        align-self: center;
        justify-self: center;
        margin-top: 4rem;
        margin-bottom: 2rem;

        .logo-img{
            width: 100%;
        }
    }

    &__nav{
        grid-column: 3/ 7;
        align-self: center;
        margin-bottom: 4rem;
        // margin-top: 2em;
        
    }
    
    .nav__list{
        display: flex;
        justify-content: space-between;
    }

    .nav__item{
        list-style: none;
        
    }

    .nav__link{
        text-decoration: none;
        color: $base_color_dark; 
        font-size: 1.6rem;
        font-family: $font_family_3;
        font-weight: 700;
        position: relative;


        &:hover{
            color:$base_color_green;
        }
    }
    .link--active{
        color: $base_color_green;
    }
}

// link--active