.people{
    background-color: $base_color_light;

    grid-column: full-start / full-end;
    
    display: grid;
    grid-template-columns: [full-start]  1fr  [full-end center-start] repeat(8, [col-start]  minmax(min-content, 14rem) [col-end]) [center-end]  1fr [full-end] ;

    &__box{
        grid-column: center-start/ center-end;
        // background-color: red;

        display: grid;
        grid-template-columns: repeat(3, minmax(min-content, 1fr));
        justify-content: center;

        margin-top: 3rem;
        margin-bottom: 6rem;
    }
}