*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: font_family_1;
  font-weight: 300;
  font-size: 4rem;
  background-color: orangered; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  grid-template-rows: minmax(min-content, 35vh) minmax(min-content, max-content) min-content min-content;
  background-color: white; }

.header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [full-end center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end]; }
  .header__box {
    grid-column: center-start/ center-end;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
  .header__logo {
    grid-column: 3/ 7;
    align-self: center;
    justify-self: center;
    margin-top: 4rem;
    margin-bottom: 2rem; }
    .header__logo .logo-img {
      width: 100%; }
  .header__nav {
    grid-column: 3/ 7;
    align-self: center;
    margin-bottom: 4rem; }
  .header .nav__list {
    display: flex;
    justify-content: space-between; }
  .header .nav__item {
    list-style: none; }
  .header .nav__link {
    text-decoration: none;
    color: #252525;
    font-size: 1.6rem;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 700;
    position: relative; }
    .header .nav__link:hover {
      color: #09BFA9; }
  .header .link--active {
    color: #09BFA9; }

.footer {
  background-color: #252525;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [full-end center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
  .footer__box {
    grid-column: center-start/ center-end;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    align-items: center;
    margin: 4rem 2rem; }
    .footer__box p {
      color: white;
      font-size: 1.6rem; }
  .footer__logos {
    justify-self: end; }
  .footer .logos__list {
    display: flex;
    list-style: none; }
  .footer .logos__item:not(:last-child) {
    margin-right: 2.5rem; }
  .footer .logos__link {
    text-decoration: none;
    color: white;
    background-size: cover;
    display: block;
    opacity: 1;
    text-indent: -999rem;
    height: 4rem;
    width: 4rem; }
  .footer .link--twitter {
    background-image: url(../images/icons/icon-twitter.jpg); }
    .footer .link--twitter:hover {
      background-image: url(../images/icons/icon-twitter-hover.jpg); }
  .footer .link--facebook {
    background-image: url(../images/icons/icon-facebook.jpg); }
    .footer .link--facebook:hover {
      background-image: url(../images/icons/icon-facebook-hover.jpg); }
  .footer .link--google {
    background-image: url(../images/icons/icon-googleplus.jpg); }
    .footer .link--google:hover {
      background-image: url(../images/icons/icon-googleplus-hover.jpg); }
  .footer .link--pinterest {
    background-image: url(../images/icons/icon-pinterest.jpg); }
    .footer .link--pinterest:hover {
      background-image: url(../images/icons/icon-pinterest-hover.jpg); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: all   0.3s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  font-family: "Arial Black", Gadget, sans-serif; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn--black, .btn--black:link, .btn--black:visited {
  background-color: #252525;
  color: white;
  margin: 0.2rem 2.0rem 0.2rem 2.0rem;
  transition: all .3s; }

.btn--black:hover {
  background-color: white;
  color: #252525;
  border: 2px solid #252525;
  transform: translateY(0rem); }

.btn--black:active, .btn--black:focus {
  transform: translateY(0rem); }

.header__main {
  display: inline-block;
  text-align: center;
  padding: .2rem 2.0rem;
  background-color: white;
  color: #252525;
  font-family: "Poller One", regular;
  font-size: 2rem;
  text-transform: uppercase; }
  .header__main--large {
    font-size: 3.5rem;
    text-transform: uppercase;
    background-color: #252525;
    color: white; }

.header__second {
  display: inline-block;
  text-align: center;
  color: #252525;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 2.2rem;
  padding: 1.2rem .5rem; }
  .header__second--large {
    text-transform: uppercase;
    background-color: #252525;
    color: white; }

.blog {
  grid-column: center-start/ center-end;
  display: flex;
  flex-direction: column; }
  .blog__title {
    text-align: center; }
  .blog__section {
    display: grid;
    grid-template-columns: min-content minmax(min-content, max-content);
    margin-top: 2rem;
    margin-bottom: 3rem; }
    .blog__section:not(:last-child) {
      margin-bottom: 0; }
    .blog__section .section__image {
      border: 2px solid #252525; }
      .blog__section .section__image img {
        display: block; }
    .blog__section .section__text {
      padding: 5rem 3rem;
      border: 2px solid #252525;
      border-left: none;
      display: grid;
      justify-items: center; }
      .blog__section .section__text p {
        font-size: 1.6rem;
        text-align: center; }
      .blog__section .section__text a {
        margin-top: 2rem; }
