.blog-single {
    grid-column: center-start/ center-end;

    display: flex;
    flex-direction: column;
    // justify-content: center;

    .blog__title{
        text-align: center;
    }


    .blog-single__visual{
        margin-top: 2rem;
        margin-bottom: 3rem;

        &:not(:last-child){
            margin-bottom: 0;
        }
      
    }
    
    .blog-single__image{
            border: 2px solid $base_color_dark;
            justify-self: center;
            width: 100%;
            
            img {
                object-fit: cover;
                display: block;
                height: 100%;
                width: 100%;
            }
        }
}