
.btn {
    &,
    &:link, 
    &:visited {
       
        text-decoration: none;
        text-transform: uppercase;  border: none;
        cursor: pointer;
        display: inline-block;   
        padding: 2.0rem 3rem;
        background-color: $base_color_green;
        color: $base_color_light;
        box-shadow: 0 .5rem 1rem rgba(black, 0.4);  
        font-size: 2rem;
        font-family: $font_family_1;
        transition: all .2s;

        @include respond(tabl-lands-1200) {
            padding: 1.5rem 2.2rem;
        }

        @include respond(tabl-port-900) {
            padding: 1.0rem 1.5rem;
        }

        @include respond(tabl-port-800) {
            padding: 1.0rem 1.5rem;
            font-size: 1.5rem;
        }
        
    }

    &:hover {
        background-color: $base_color_green_light;
        transform: translateY(-0.3rem);
    }


    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 .5rem 1rem rgba(black, 0.4); 
        
        transform: translateY(0rem);
    }

    &--black {
        &,
        &:link, 
        &:visited{
            border: inherit;
            background-color: $base_color_dark;
            color: $base_color_light;
            padding: 0.5rem 1.5rem;
            font-size: 2rem;
            border: 2px solid transparent;
        }

        &:hover {
            background-color: $base_color_light;
            color: $base_color_dark;
            border: 2px solid $base_color_dark;
        }
    }

}

