
.btn {
    &,
    &:link, 
    &:visited {
        
        text-decoration: none;
        text-transform: uppercase;  border: none;
        cursor: pointer;
        display: inline-block;   
        padding:2.0rem 3rem;
        background-color: $base_color_green;
        color: $base_color_light;
        transition: all   0.3s;
        box-shadow: 0 .5rem 1rem rgba(black, 0.4);  
        font-size: 2rem;
    }

    &:hover {
        transform: translateY(-0.3rem);
        background-color: $base_color_green_light;
    }


    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba(black, 0.4);   
    }

    
}