.story{
    grid-column: col-start 2 / col-end 7;
    // margin-top: 2rem;

    &__text{
        padding: 4rem;
        text-align: center;

        p{
            font-size: 1.6rem;
            line-height: 1.7;
            font-family: $font_family_4;
        }

    }

    &__text:not(:first-child){
        padding-top: 0;
    }
}