// .story{
//     grid-column: col-start 2 / col-end 7;
//     // margin-top: 2rem;

//     .story__text{
//         padding: 4rem;
//         text-align: center;
//         margin-top: 3rem;

//         p{
//             font-size: 1.6rem;
//             line-height: 1.7;
//             font-family: $font_family_4;
//         }

//     }

//     &__text:not(:first-child){
//         padding-top: 0;
//     }
// }


.story__text{
    padding: 4rem;
    text-align: center;
    margin-top: 3rem;

    p{
        font-size: 1.6rem;
        line-height: 1.7;
        font-family: $font_family_4;
    }

    &:not(:first-child){
        padding-top: 0;
    }
}
