.header__main{
    display: inline-block;
    text-align: center;
    padding: 1.2rem 2rem;
    background-color: $base_color_light;
    color: $base_color_dark;
    font-family: $font_family_1;
    font-size: 3rem;

    @include respond(tabl-lands-1000) {
        font-size: 2.5rem;
    }


}